body {
	background-image: url("../../images/backgroundtile.gif");
	font-family: Helvetica, Verdana, sans-serif !important;
	font-size: 0.75em;
}

fieldset {
	clear: both;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 1em;
	width: 95%;
}

fieldset >div {
	float: left;
	margin: 0.3em;
	width: 270px;
}

legend {
	font-weight: bold;
	padding: 0 0.5em 0 0.5em;
}

.bold {
	font-weight: bold;
}

.button {
	display: none;
}

.ui-widget .ui-button {
	font-size: 8pt;
}

#container {
	margin-top: 2em;  
	margin-left: auto; 
	margin-right: auto;
	padding: 2em;
	background-color:#fff; 
	width: 90%; 
	min-height: 400px;
}

#ajaxloading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	z-index: 99999;
	cursor: wait;
}

.tools {
	margin-bottom: 1em;
	float: left;
	clear: both;
}

.pagination {
	margin-bottom: 1em;
	float: right;
}

.requiredsymbol {
	color: red;
	font-weight: bold;
}

label.error {
	color: red;
	font-weight: bold;
	display: block;	
	font-size: 0.8em;
}

input {
	padding: 4px;
}

input[type="checkbox"], input[type="radio"]  {
	width: auto;
	margin: 3px;
	border: 0;	
}

select {
	padding: 3px;
}

button {
	margin: 0.5em 0 0.5em 0;
}

input, select {
	margin: 0.5em 0 0.5em 0;
	border: 1px solid gray;
	width: 250px;	
}

select.short {
	width: auto;
}

input:hover {
	background: #f5f5f5;
}

input.error {
	border: 1px solid red;
}

input.short {
	width: 85px;
}

input.middle {
	width: 150px;
}

textarea {
	padding: 4px;
	width: 535px;
	margin: 0.5em 0 0.5em 0;
	border: 1px solid gray;	
}

table {
	border-collapse: collapse;
	width: 100%;
}

tbody>tr:nth-child(2n + 1) {
  background-color: #f1f1f1;
}

th {
	text-align: left;
	padding: 0.4em 0.6em 0.4em 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	white-space: nowrap;
}

th .ui-icon {
	margin-left: auto;
	margin-right: auto;
}

tfoot td {
	padding: 0.4em 0.6em 0.4em 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-weight: bold;
	white-space: nowrap;
}

td {
	padding: 0.4em 0.6em 0.4em 0;
}

.overflowscroll {
	overflow: auto;
}

.alignright {
	text-align: right;
}

.single-field:nth-child(even) {
	clear: both;
}

.multirow-header {
	float: left;
}

.multirow-field {
	float: left;
	clear: both;
	margin-right: 1em;
}

.multirow-field>a {
	margin-top: 0.8em;
}

.multirow-field>label.error {
	clear: both;
	margin-right: 1em;
}

.multirow>div {
	float: left;
	clear: both;
}

.multirow>div:first-child .multirow-field {
	visibility: hidden;
	margin-top: -30px;
}

/* Overwrite jQuery UI theme to add more space in ui-tab-panel */
.ui-tabs-panel {
	padding: 1em 0.5em !important;
}

.registerdirectly-map {
	float: left;
	margin-left: 1em;
}

.registerdirectly-map img {
	border: 1px solid #aaa;
}

.registerdirectly-header {
	clear: both;
}

.registerdirectly-info {
	float: left;
	max-width: 450px;
}