body {
	background-image: url("../../images/backgroundtile.gif");
	font-family: Helvetica, Verdana, sans-serif !important;
	font-size: 0.8em;
}

fieldset {
	clear: both;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 1em;
	width: 95%;
}

fieldset >div {
	float: left;
	margin: 0.3em;
	width: 270px;
}

legend {
	font-weight: bold;
	padding: 0 0.5em 0 0.5em;
}

.bold {
	font-weight: bold;
}

.button {
	display: none;
}

.ui-widget .ui-button {
	font-size: 8pt;
}

#container {
	margin-top: 2em;  
	margin-left: auto; 
	margin-right: auto;

	padding: 2em;

	background-color:#fff; 
	width: 900px; 
	min-height: 400px;
}

.tools {
	margin-bottom: 1em;
}

.requiredsymbol {
	color: red;
	font-weight: bold;
}

label.error {
	color: red;
	padding-left: 1em;
	font-weight: bold;
	display: block;
}

input {
	padding: 4px;
}

select {
	padding: 3px;
}

input, select {
	margin: 0.5em 0 0.5em 0;
	border: 1px solid gray;
	width: 250px;	
}

select.short {
	width: auto;
}

input:hover {
	background: #f5f5f5;
}

input.error {
	border: 1px solid red;
}

input.short {
	width: 85px;
}

table {
	border-collapse: collapse;
}

tr {
}

th {
	text-align: left;
	padding: 0.5em 1.5em 0.5em 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

th .ui-icon {
	margin-left: auto;
	margin-right: auto;
}

tfoot td {
	padding: 0.5em 1.5em 0.5em 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

td {
	padding: 0.5em 1.5em 0.5em 0;
}

.alignright {
	text-align: right;
}